# SMTP Configuration
SMTP_HOST=mail.test.ph
SMTP_PORT=587
SMTP_USER=mailer@test.ph
SMTP_PASS=test
CONTACT_EMAIL=info@test.ph
TURNSTILE_SECRET_KEY=test

# Next.js build settings
NEXT_PUBLIC_SITE_NAME="Site Name"
NEXT_PUBLIC_TURNSTILE_SITE_KEY=test
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
TELEGRAM_BOT_TOKEN=8420252970:AAFV_My76Pw1JTU_3EOf17io1r3RAsbcUNw
TELEGRAM_CHAT_ID=129763018

